namespace: stg-pacman
namePrefix: stg-
resources:
- ../../base
patches:
 - target:
      kind: Deployment
   path: adjustiments-patch.yaml
configMapGenerator:
- name: nginx-config
  files:
  - index.html
